*{
    margin:0px;
    padding:0px;
}	
header{
    width:1400px;
    height:55px;
    background: black;
    display:block;
    margin: 0 auto;
}
header img{
    width:100px;
    height:55px;
    display:block;
    float:left;
    margin:0px 100px 0px 100px;
}
header nav{
    width:800px;
    height:60px;
    float:left;
    margin:0px 100px 0px 0px ;
    /*background:#123;*/
    display: block;
    color: white;
}
header nav ol{
    width:800px;
    height:50px;
    float:left;
    margin:0px 100px 0px 0px ;
    /*background:#456;*/
    display:block;
}
header nav ol a li{
    width:100px;
    height:50px;
    line-height:50px;
    color:white;
    float:left;
    text-align:center;
    text-decoration: none;
    list-style-type: none;
    display:block;
}
header nav ol a li:hover{
    color:cornflowerblue;
}
